*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    overflow-x:hidden;
}

.top-bar{
    height:35px;
    background:#f36f98;
    color:white;
    display:flex;
    align-items:center;
    overflow:hidden;
    font-size:14px;
    font-weight:bold;
}

.marquee span{
    display:inline-block;
    white-space:nowrap;
    animation:scroll 20s linear infinite;
}

@keyframes scroll{
    from{
        transform:translateX(0);
    }
    to{
        transform:translateX(-50%);
    }
}

.hero{
    position:relative;
    height:100vh;

    background:url("/img/fondo.jpeg");
    background-size:cover;

    /* Mueve la foto ligeramente a la derecha */
    background-position:65% center;

    background-repeat:no-repeat;
}

.overlay{
    position:absolute;
    inset:0;

    background:
    linear-gradient(
        90deg,
        rgba(15,23,42,.95) 0%,
        rgba(15,23,42,.80) 30%,
        rgba(37,99,235,.35) 65%,
        rgba(0,0,0,.25) 100%
    );
}
.navbar{
    position:absolute;
    top:25px;
    left:50%;
    transform:translateX(-50%);

    width:80%;
    max-width:900px;

    background:white;
    border-radius:50px;

    padding:15px 25px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    z-index:5;
}

.logo{
    font-weight:900;
    font-size:20px;
}

.navbar ul{
    display:flex;
    gap:30px;
    list-style:none;
}

.navbar a{
    text-decoration:none;
    color:#222;
    font-weight:600;
}

.nav-btn{
    background:black;
    color:white !important;

    padding:12px 25px;
    border-radius:30px;
}

.hero-content{
    position:relative;
    z-index:2;

    max-width:700px;

    padding-top:180px;
    padding-left:10%;
}

.hero-content h1{
    color:white;
    font-size:95px;
    font-weight:900;
    line-height:.9;
    text-transform:uppercase;
}

.hero-content h2{
    color:#FFD700;
    font-size:75px;
    font-weight:900;
    line-height:.9;
}

.hero-content p{
    margin-top:25px;

    color:white;
    font-size:24px;
    max-width:550px;
}

.cta-btn{
    background:#D4A017;
    color:#0F172A;

    padding:25px 45px;

    border-radius:15px;

    font-size:28px;
    font-weight:900;

    text-decoration:none;

    box-shadow:
    0 15px 35px rgba(212,160,23,.35);
}

.cta-btn:hover{
    transform:translateY(-4px);
}

.status{
    margin-top:25px;

    color:white;
    font-weight:bold;

    display:flex;
    align-items:center;
    gap:10px;
}

.dot{
    width:12px;
    height:12px;

    background:#00ff66;
    border-radius:50%;
}

@media(max-width:900px){

    .navbar ul{
        display:none;
    }

    .hero-content{
        padding-left:30px;
        padding-right:30px;
    }

    .hero-content h1{
        font-size:55px;
    }

    .hero-content h2{
        font-size:50px;
    }

    .hero-content p{
        font-size:18px;
    }

    .cta-btn{
        font-size:22px;
    }

}